.slider-container {
    position: relative;
    width: 400px;
    overflow: hidden;
}
/* .slider{
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    align-items: center;
    /* height: 300px; */
    /* flex-direction: column; */
    /* border: 1px solid black; */
/* } */ */
.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    height: 400px;
    padding: 20px;
}
.slider .slide .product-box img{
    width: 100px;
    height: 100px;
}
.product-box {
    width: 300px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.product-title {
    margin-top: 10px;
    font-size: 18px;
}

.product-description {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}

.product-price {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.product-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.product-button:hover {
    background-color: #45a049;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}